#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

version!= apt info /packages/linux-headers-truenas-amd64* | grep 'Source:' | awk '{ print $$2 }' | sed 's/linux-//'
kmod= kmod-zfs-$(subst linux-image-,,$(version))

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-debug --enable-debuginfo \
		--with-linux=/usr/src/linux-headers-${version} \
		--with-linux-obj=/usr/src/linux-headers-${version}

override_dh_auto_test:

override_dh_shlibdeps:

override_dh_auto_install:

override_dh_gencontrol:
	echo kmod=$(kmod) >> debian/openzfs.substvars
	dh_gencontrol

override_dh_builddeb:
	$(MAKE) deb-kmod deb-utils
	mv *.deb ../
	mv ../openzfs-build-deps-depends_*.deb ./
	dh_builddeb
